body{
    width: 80%;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width: 120px;
    height: 120px;
}
address{
    margin: 10px;
    font-style: normal;
}
.container-header{
    display: flex;
    justify-content: space-between;
}
.inner-container-header{
    display: flex;
    align-items: center;
}
/* .header-item{
    border: solid red 1px;
} */
.container-bill-to{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-top: 30px;
}
.bill-to-item{
    flex-basis: 35%;
}
.bill-to-item-grow{
    flex-grow: 1;
}
table{
    width: 100%;
    border: solid black 1px;
    border-collapse: collapse;
    margin-bottom: 10px;
}
td,th{
    border: solid black 1px;
    padding: 0px;
    text-align: center;
}
.container-billable{
    display: flex;
    justify-content: space-between;
}
.billable.item{
    border: solid red 1px;
}
.container-payment-summary{
    display: flex;
    justify-content: space-between;
}
.payment-summary-item{
    flex:1 1 300px;
}
.payment-summary-item-shrink{
    flex:0 0 150px;
}
.footer{
    text-align: right;
    margin-top: 30px;
}